.ques{
    display: flex;
  justify-content: space-between;
}

.ques h5{
    padding-right: 40px;
    
}
.ques button{
    height: 30px;
    border-radius: 5px;
}
.ques button:hover{
    height: 30px;
    border-radius: 5px;
    background-color: antiquewhite;
}
.faqmain{
    background-color: rgb(179, 176, 176);
    padding: 20px;
    border-radius: 20px;
}

.faq{
    background-color: rgb(122, 120, 120);
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 4px 6px  rgb(63, 62, 62);
}



